name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:

permissions:
  contents: read
  packages: write

jobs:

  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository  # clone repo
      uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -t alphadisc:test --file Dockerfile .

    - name: Run tests in Docker container  # pytest has been already installed in mesa2py
      run: docker run --rm alphadisc:test pytest tests

    # If OK, then tag/log/push
    - name: Log in to GitHub Container Registry
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Tag image for GHCR
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: docker tag alphadisc:test ghcr.io/andreytavleev/alphadisc:latest

    - name: Push image to GHCR
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: docker push ghcr.io/andreytavleev/alphadisc:latest

